<div id="citation-modal" class="citation-modal" hidden>
  <div class="citation-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="citation-modal-title" tabindex="-1">
    <button type="button" class="citation-modal__close" aria-label="Close citation dialog">&times;</button>
    <h4 id="citation-modal-title">Cite this publication</h4>
    <div class="citation-modal__tabs" role="tablist">
      <button type="button" class="citation-modal__tab is-active" data-format="plain" role="tab" aria-selected="true">Plain Text</button>
      <button type="button" class="citation-modal__tab" data-format="bib" role="tab" aria-selected="false">BibTeX</button>
    </div>
    <pre class="citation-modal__content" id="citation-modal-content"></pre>
    <div class="citation-modal__actions">
      <div class="citation-modal__feedback" role="status" aria-live="polite" hidden></div>
      <button type="button" class="citation-modal__action" data-action="copy">Copy</button>
      <button type="button" class="citation-modal__action" data-action="download">Download</button>
    </div>
  </div>
</div>