<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/toggles.js' | relative_url }}" defer></script>
{% if page.use_news_window %}
<script src="{{ '/assets/js/news-window.js' | relative_url }}"></script>
{% endif %}
<script src="{{ '/assets/js/citation-modal.js' | relative_url }}"></script>
<script src="{{ '/assets/js/publications.js' | relative_url }}"></script>
<script src="{{ '/assets/js/author-map.js' | relative_url }}"></script>
<script src="{{ '/assets/js/map-reorder.js' | relative_url }}"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}

