{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}
    {% assign hide_author_maps_on_mobile = false %}
    {% if page.hide_author_maps_on_mobile %}
      {% assign hide_author_maps_on_mobile = true %}
    {% endif %}
    {% if layout.hide_author_maps_on_mobile %}
      {% assign hide_author_maps_on_mobile = true %}
    {% endif %}
    {% include author-profile.html %}
    <div class="author__map-sidebar">
      {% include author-maps.html variant="sidebar" mobile_hidden=hide_author_maps_on_mobile %}
    </div>
  {% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src= "{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
  {% endif %}
  </div>
{% endif %}