/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 18;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 0.5em;

/* system typefaces */
$serif                      : "SF Pro Display", "SF Pro Text", -apple-system, system-ui, "Segoe UI", "Helvetica Neue", "Helvetica", sans-serif;
$sans-serif                 : "SF Pro Text", "SF Pro Display", -apple-system, system-ui, "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;

// $sans-serif                 : "Trebuchet MS", Helvetica, sans-serif;
// $sans-serif                 : Georgia, serif, sans-serif;
// $sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : "SF Pro Display", "SF Pro Text", -apple-system, system-ui, "Segoe UI", "Helvetica Neue", "Helvetica", sans-serif;
$caption-font-family        : $sans-serif;

/* type scale */
$type-size-1                : 3.052em;  // ~55px
$type-size-2                : 2.441em;  // ~44px
$type-size-3                : 1.953em;  // ~35px
$type-size-4                : 1.563em;  // ~28px
$type-size-5                : 1.125em;  // ~20px
$type-size-6                : 1em;      // ~18px
$type-size-7                : 0.875em;  // ~16px
$type-size-8                : 0.75em;   // ~14px


/*
   Colors
   ========================================================================== */

$gray                       : #6e6e73;
$dark-gray                  : mix(#000, $gray, 38%);
$darker-gray                : mix(#000, $gray, 58%);
$light-gray                 : mix(#fff, $gray, 55%);
$lighter-gray               : mix(#fff, $gray, 90%);

$body-color                 : #f5f5f7;
$background-color           : #ffffff;
$code-background-color      : #eef1f9;
$code-background-color-dark : lighten($gray, 32%);
$text-color                 : #1d1d1f;
$border-color               : rgba(#1d1d1f, 0.12);

$primary-color              : #0071e3;
$success-color              : #62c462;
$warning-color              : #f89406;
$danger-color               : #ee5f5b;
$info-color                 : #0071e3;
// $info-color                 : #52adc8;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
$link-color                 : $info-color;
$link-color-hover           : darken($link-color, 8%);
$link-color-visited         : mix(#fff, $link-color, 20%);
$masthead-link-color        : #1d1d1f;
$masthead-link-color-hover  : darken(#1d1d1f, 12%);


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
